.header {
    margin-bottom: 66px;
    padding-top: 64px;

    color: #fff;
}

@media (max-width: 1600px) {
    .header {
        margin-bottom: 30px;
        padding-top: 30px;
    }
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 50px;
        padding-top: 40px;
    }
}
