.lang-switcher {
    float: right;
    margin-top: 18px;
    padding: 3px 0 7px 32px;

    font-size: 14px;
    color: #9da2ad;

    cursor: pointer;

    background: url(lang-switcher.png) no-repeat;
}

.lang-switcher:after {
    content: " ▾";
}

.lang-switcher__item {
    display: block;
    padding: 4px 10px 4px 34px;

    font-size: 14px;
    text-decoration: none;
    color: #333;

    background: url(lang-switcher__item.png) no-repeat;
}

.lang-switcher__item:hover {
    background-color: #ebebeb;
}

.lang-switcher__item_lang_da-DK
{
    background-position: 0 -25px;
}

.lang-switcher__item_lang_nl-NL
{
    background-position: 0 -217px;
}

.lang-switcher__item_lang_fi-FI
{
    background-position: 0 -241px;
}

.lang-switcher__item_lang_fr-FR
{
    background-position: 0 -48px;
}

.lang-switcher__item_lang_de-DE
{
    background-position: 0 -265px;
}

.lang-switcher__item_lang_el-GR
{
    background-position: 0 -72px;
}

.lang-switcher__item_lang_hu-HU
{
    background-position: 0 -289px;
}

.lang-switcher__item_lang_it-IT
{
    background-position: 0 -97px;
}

.lang-switcher__item_lang_ja-JP
{
    background-position: 0 -313px;
}

.lang-switcher__item_lang_nb-NO
{
    background-position: 0 -121px;
}

.lang-switcher__item_lang_pl-PL
{
    background-position: 0 -337px;
}

.lang-switcher__item_lang_pt-PT
{
    background-position: 0 -145px;
}

.lang-switcher__item_lang_ro-RO
{
    background-position: 0 -361px;
}

.lang-switcher__item_lang_ru-RU
{
    background-position: 0 -169px;
}

.lang-switcher__item_lang_es /* TODO: is it really used? */
{
    background-position: 0 -385px;
}

.lang-switcher__item_lang_es-ES
{
    background-position: 0 -385px;
}

.lang-switcher__item_lang_sv-SE
{
    background-position: 0 -193px;
}

.lang-switcher__item_lang_tr-TR
{
    background-position: 0 -409px;
}
