.about {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;

    background: #5a7cc0 url(about.jpg) 50% 0 no-repeat;
    background: url(about.jpg) 50% -30px no-repeat, url(bg.jpg) 50% -30px repeat-x, linear-gradient(to bottom, #070f21 0, #0f1f42 125px, #4f7bbe 50%, #8db4d7 100%);
    background-size: auto 100%;

    color: #333;
}

.about__inner {
    width: 1192px;
    max-width: calc(100vw - 80px);
    margin: auto;
}

.about__column {
    float: left;
}

.about__slogan {
    width: 426px;
    margin-bottom: 42px;
    padding-top: 48px;

    font-size: 34px;
    line-height: 37px;
}

.about__description {
    width: 372px;
    margin-bottom: 55px;

    font-size: 18px;
    line-height: 1.4;
}

.about__download {
    width: 300px;
    text-align: right;
}

.about__footnote {
    margin: 14px 0 6px;
}

.about__stamp {
    position: absolute;
    z-index: 2;

    width: 153px;
    height: 139px;
    margin: 0 0 12px -65px;

    background: url(about__stamp.png) no-repeat;
    background-size: 100%;
}

.about__laptop {
    float: right;

    width: 654px;
    height: 508px;
    padding: 32px;

    background: url(about__laptop.png) no-repeat;
    background-size: 100%;
}

.about__laptop .video {
    height: 410px;
}

.about__laptop .about__stamp {
    display: none;
}

.about__partners {
    position: relative;

    width: 100%;
    padding: 33px 0;

    background: #fff;

    color: #666;
}

.about__partners:before {
    position: absolute;
    left: 50%;
    top: -40px;

    width: 426px;
    height: 40px;

    content: "";

    background: url(about__partners.png) no-repeat;
}

.about__partner {
    display: inline-block;

    margin-left: 56px;

    vertical-align: middle;
}

.about__partner_type_disney {
    width: 100px;
    height: 43px;

    background: url(about__partner_type_disney.png);
}

.about__partner_type_intel {
    width: 76px;
    height: 50px;

    background: url(about__partner_type_intel.png);
}

.about__partner_type_hp {
    width: 50px;
    height: 50px;

    background: url(about__partner_type_hp.png);
}

.about__partner_type_samsung {
    width: 128px;
    height: 41px;

    background: url(about__partner_type_samsung.png);
}

.about__partner_type_acer {
    width: 100px;
    height: 26px;

    background: url(about__partner_type_acer.png);
}

.about__partner_type_asus {
    width: 100px;
    height: 20px;

    background: url(about__partner_type_asus.png);
}

@media (max-width: 1600px) {
    .about {
        background-position: 50% -30px, 50% -30px;
    }

    .about__inner {
        width: 1194px;
    }

    .about__slogan {
        margin-bottom: 34px;
        padding-top: 26px;
    }

    .about__description {
        line-height: 1.2;
    }

    .about__laptop {
        width: 600px;
        height: 464px;
        padding: 30px;
    }

    .about__laptop .video {
        height: 376px;
    }
}

@media (max-width: 1280px) {
    .about__inner {
        width: 1088px;
    }

    /* TODO: enlarge, values are taken from 1024 */
    .about__laptop {
        width: 440px;
        height: 342px;
        padding: 22px;
    }

    .about__laptop .video {
        height: 274px;
    }

    .about__partner {
        margin-left: 48px;
    }
}

@media (max-width: 1024px) {
    .about {
        display: block;
        background-position: -127px -22px, -127px -22px;
    }

    .about__inner {
        width: 900px;
    }

    .about__main {
        margin-bottom: 0;
    }

    .about__slogan {
        width: 340px;
        font-size: 27px;
    }

    .about__description {
        width: 314px;
        font-size: 14px;
    }

    .about__stamp {
        position: static;

        width: 112px;
        height: 102px;
        margin: -25px 0 0 -35px;
    }

    .about__laptop {
        width: 440px;
        height: 342px;
        padding: 22px;
    }

    .about__laptop .video {
        height: 274px;
    }

    .about__partners .about__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about__partners:before {
        margin-left: -213px;
    }

    .about__partner {
        margin: 0;
    }
}

/*@media (max-width: 768px) {*/
@media (max-width: 904px) {
    .about {
        min-width: 700px;
        background-position: -301px -35px, -301px -35px;
    }

    .about__column {
        float: none;
    }

    .about__slogan {
        width: 100%;
        margin-bottom: 60px;
        padding-top: 0;
        font-size: 26px;
        color: #fff;
    }

    .about__description {
        float: left;

        width: 314px;
        margin-bottom: 60px;

        font-size: 14px;
        line-height: 1.5;
    }

    .about__download {
        float: right;
    }

    .about__footnote {
        color: #fff;
    }

    .about__stamp {
        position: absolute;
        top: 596px;
    }

    .about__laptop {
        position: relative;
        clear: both;

        float: none;

        width: 554px;
        height: 430px;
        margin: auto;
        padding: 28px;
        padding-bottom: 65px;
    }

    .about__laptop .video {
        height: 347px;
    }

    .about__stamp {
        display: none;
    }

    .about__laptop .about__stamp {
        position: absolute;
        left: -18px;
        top: auto;
        bottom: 10px;

        display: block;

        width: 153px;
        height: 139px;
    }

    .about__partner_type_asus {
        display: none;
    }
}
